[backend]
setup.password = "123456789";

database.adapter		    = pdo_mysql
database.params.persistent	= false
database.params.host		= localhost
database.params.charset		= utf8
database.params.tblprefix	= mor_
database.params.tblprefixbk	= bk_
database.params.username	= ##USERNAME##
database.params.password	= ##PASSWORD##
database.params.dbname		= ##DBNAME##

[default : backend]

[live : default]

[prod : live]

[staging : prod]

[preprod : staging]

[dev : preprod]
